<ion-view title="Popular">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" padding="true">

    <!-- Static Dummy Content -->
    <div class="row">
      <div class="col">
        <img ng-src="img/1.jpg" style="width: 100%">
        <p class="calm">Chris</p>
      </div>
      <div class="col col-10 col-center" style="text-align: center;">
        <h4>105</h4>
        <i class="icon ion-thumbsup"></i>
      </div>
      <div class="col col-center">
        <img ng-src="img/2.jpg" style="width: 100%">
        <p class="calm">Chris</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img ng-src="img/3.jpg" style="width: 100%">
        <p class="calm">Willie</p>
      </div>
      <div class="col col-10 col-center" style="text-align: center;">
        <h4>98</h4>
        <i class="icon ion-thumbsup"></i>
      </div>
      <div class="col col-center">
        <img ng-src="img/4.jpg" style="width: 100%">
        <p class="calm">Nelson</p>
      </div>
    </div>

   <!--  <div class="row">
      <div class="col">
        <img ng-src="img/5.jpg" style="width: 100%">
        <p class="calm">Molly</p>
      </div>
      <div class="col col-10 col-center" style="text-align: center;">
        <h4>65</h4>
        <i class="icon ion-thumbsup"></i>
      </div>
      <div class="col col-center">
        <img ng-src="img/6.jpg" style="width: 100%">
        <p class="calm">Nelson</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img ng-src="img/7.jpg" style="width: 100%">
        <p class="calm">Molly</p>
      </div>
      <div class="col col-10 col-center" style="text-align: center;">
        <h4>63</h4>
        <i class="icon ion-thumbsup"></i>
      </div>
      <div class="col col-center">
        <img ng-src="img/8.jpg" style="width: 100%">
        <p class="calm">Nelson</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img ng-src="img/9.jpg" style="width: 100%">
        <p class="calm">Nelson</p>
      </div>
      <div class="col col-10 col-center" style="text-align: center;">
        <h4>42</h4>
        <i class="icon ion-thumbsup"></i>
      </div>
      <div class="col col-center">
        <img ng-src="img/10.jpg" style="width: 100%">
        <p class="calm">Molly</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img ng-src="img/11.jpg" style="width: 100%">
        <p class="calm">Molly</p>
      </div>
      <div class="col col-10 col-center" style="text-align: center;">
        <h4>31</h4>
        <i class="icon ion-thumbsup"></i>
      </div>
      <div class="col col-center">
        <img ng-src="img/12.jpg" style="width: 100%">
        <p class="calm">Nelson</p>
      </div>
    </div> -->







  </ion-content>

</ion-view>