<ion-view title="Select a Friend">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="cancel()">Cancel</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" padding="true">

    <ion-list>
      <ion-item href="#"> Nelson </ion-item>
      <ion-item href="#"> Chris </ion-item>
      <ion-item href="#"> Sarah </ion-item>
      <ion-item href="#"> Jason </ion-item>
      <ion-item href="#"> Will </ion-item>
    </ion-list>

    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists | orderBy: 'id'" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}} {{playlist.id}}
      </ion-item>
    </ion-list> -->

  </ion-content>
</ion-view>