<ion-view title="Take a Funny Photo">
  <!-- <ion-nav-bar>
  </ion-nav-bar> -->

  <ion-content class="has-header" padding="true">

    <div class="row" style="height: 50%;">
      <div class="col"></div>
      <div class="col col-center"><h1>Make a Funny Face</h1></div>
      <div class="col"></div>
    </div>

    <div class="row" style="height: 50%;">
      <div class="col"></div>
      <div class="col col-center"><h1>*countdown*</h1></div>
      <div class="col"></div>
    </div>

  </ion-content>

</ion-view>