
<div class="bar bar-header bar-stable">
  <button class="button button-icon icon ion-arrow-left-c" ui-sref="menu.status"></button>
  <div class="h1 title">{{thread[1].first}}</div>
  <button class="button button-icon icon ion-reply" ui-sref="newthreadgetready"></button>
</div>


<ion-view title="Friend">

  <ion-content class="has-header" padding="false">

    <!--orderBy:'createdAt' does not work with css margin. Need array in chronological order-->
    <div ng-repeat="photo in photos" ng-class="{'offset' : $index > 0 && photos[$index - 1].owner.id !== photo.owner.id}">
      <div class="row">
        <div class="col-50" ng-class="{'col-offset-50': photo.owner === thread[0]}">
          <img ng-src="{{photo.photoURL}}" class="thread-photo">
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>


