<ion-view title="Status" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-camera" ui-sref="newthreadgetready"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" padding="true">

	  <!-- <div class="list">
	    <a class="item item-avatar" ui-sref="thread">
	      <img src="img/1.jpg">
	    	<h2>Shawn</h2>
	    </a>
		</div> -->

    <ion-list>
      <ion-item ng-repeat="thread in threads | orderBy: '-id' " ng-click="selectThread(thread)">
        {{thread.first}} {{thread.last}} {{thread.id}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>


